
/dts-v1/;
#include "rk3288.dtsi"
#include "rk3288-miniarm.dtsi"

/ {
    model = "ASUS Tinker Board S";
    compatible = "asus,tinker-board-s", "rockchip,rk3288";

    memory@0 {
        device_type = "memory";
        reg = <0x0 0x80000000>; // 2GB RAM
    };

    aliases {
        ethernet0 = &gmac;
        serial0 = &uart2;
    };

    chosen {
        bootargs = "console=ttyS2,115200n8 root=/dev/mmcblk0p2 rootwait";
    };
};
